brew "jq"
brew "gh"
brew "yq"
brew "fd"
brew "git"
brew "bat"
brew "fzf"
brew "eza"
brew "nvim"
brew "fish"
brew "zoxide"
brew "direnv"
brew "chezmoi"
brew "thefuck"
brew "gnu-sed"
brew "ripgrep"
brew "exiftool"
brew "starship"
brew "git-delta"
brew "go-task"
brew "ast-grep"
brew "luajit"
brew "luarocks"
brew "lazygit"
brew "lazydocker"

cask "wezterm@nightly"
cask "obsidian"
cask "visual-studio-code"
cask "font-fira-code"
cask "claude-code"
cask "docker-desktop", args: { appdir: "/Applications" }
cask "raycast", args: { appdir: "/Applications" }
cask "spotify", args: { appdir: "/Applications" }
cask "1password", args: { appdir: "/Applications" }
cask "google-chrome", args: { appdir: "/Applications" }

{{ if eq .personal true -}}
brew "age"
brew "sops"
brew "rustup-init"
brew "node"
brew "corepack"
brew "deno"
tap "oven-sh/bun"
brew "oven-sh/bun/bun"

cask "discord"
cask "nordvpn"
cask "whatsapp"

# Stuff for home k8s cluster
brew "helm"
brew "kubecolor"
brew "kustomize"
brew "kubernetes-cli"
tap "fluxcd/tap"
brew "fluxcd/tap/flux"
{{- end -}}
