[user]
  name = Arthur Zapparoli
  email = "{{ .email }}"

{{ if eq .personal true -}}
[github]
  user = arthurgeek
{{- end -}}

[apply]
  # Detect whitespace errors when applying a patch
  whitespace = fix

[core]
  pager = delta

  # Use custom `.gitignore` and `.gitattributes`
  excludesfile = ~/.gitignore
  attributesfile = ~/.gitattributes

  # Treat spaces before tabs and all kinds of trailing whitespace as an error
  # [default] trailing-space: looks for spaces at the end of a line
  # [default] space-before-tab: looks for spaces before tabs at the beginning of a line
  whitespace = space-before-tab,-indent-with-non-tab,trailing-space

  # Make `git rebase` safer on macOS
  # More info: <http://www.git-tower.com/blog/make-git-rebase-safe-on-osx/>
  trustctime = false

  # Prevent showing files whose names contain non-ASCII symbols as unversioned.
  # http://michael-kuehnel.de/git/2014/11/21/git-mac-osx-and-german-umlaute.html
  precomposeunicode = false

  # Speed up commands involving untracked files such as `git status`.
  # https://git-scm.com/docs/git-update-index#_untracked_cache
  untrackedCache = true

  # Use Neovim as editor
  editor = nvim

[format]
  pretty = %C(yellow)%h%Creset%Cred%d%Creset %s %Cblue[%an] %Cgreen%ar

[alias]
  co = checkout
  st = status -s -b
  wdiff = diff --word-diff
  # old habits die hard
  slog = log 
  oops = !git add . && git commit --amend --no-edit && git push --force-with-lease

[diff]
  # Detect copies as well as renames
  renames = copies

  # Use Neovim as diff tool
  tool = nvimdiff

  colorMoved = default

[diff "bin"]
  # Use `hexdump` to diff binary files
  textconv = hexdump -v -C

[diff "exif"]
  textconv = exiftool

[help]
  # Automatically correct and execute mistyped commands
  autocorrect = 1

[merge]
  # Include summaries of merged commits in newly created merge commit messages
  log = true

  # Use Neovim as merge tool
  tool = nvimdiff

  conflictstyle = diff3

[push]
  # https://git-scm.com/docs/git-config#git-config-pushdefault
  default = simple

  # Make `git push` push relevant annotated tags when pushing branches out.
  followTags = true

[rerere]
  # enable rerere
  enabled = 1

[init]
	defaultBranch = main

[interactive]
  diffFilter = delta --color-only

[delta]
  features = default line-numbers decorations

[delta "default"]
  syntax-theme = Catppuccin-mocha
  plus-style = syntax "#003800"
  minus-style = syntax "#3f0001"

[delta "decorations"]
  commit-decoration-style = bold yellow box ul
  file-style = bold yellow ul
  file-decoration-style = none
  hunk-header-decoration-style = cyan box ul

[delta "line-numbers"]
  line-numbers-left-style = cyan
  line-numbers-right-style = cyan
  line-numbers-minus-style = 124
  line-numbers-plus-style = 28
