#!{{ lookPath "bash" }}

echo "🐟 Installing fish"

brew install fish

echo "🐟 Setting up Fish"

# Add fish to list of known shells
cat /etc/shells | grep -vzq "/opt/homebrew/bin/fish" \
  && echo /opt/homebrew/bin/fish | sudo tee -a /etc/shells

# Set fish as the default shell
if string match -v '*fish' $SHELL
then
  chsh -s /opt/homebrew/bin/fish
fi
